@font-face {
    font-family: 'gilroy';
    src: url(./Gilroy-Regular.otf);
  }
  @font-face {
    font-family: 'gilroy';
    src: url(./Gilroy-Medium.otf);
  }

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    font-family: Gilroy;
}
#nav{
    width: 100%;
    overflow-x: hidden;
    height: 13vh;
    background-color: rgb(106, 80, 46);
}
#nav1{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
    background-color: rgb(226, 207, 183);
}
#nav1part1{
    display: flex;
    gap: 0.7vw;
    color: rgb(100, 99, 99);
}

#nav1part1>h1{
    color: rgb(100, 99, 99);
    font-size: 1vw;
    font-weight: 500;
}
#nav1part1>h1:nth-child(3){
    opacity: 0.5;
    /* color: aliceblue; */
}
#nav1part2{
    display: flex;
    gap: 0.7vw;
    color: rgb(100, 99, 99);
}
#nav1part2>h1{
    color: rgb(100, 99, 99);
    font-size: 1vw;
    font-weight: 500;
    opacity: 0.7;
}

#nav2{
    width: 100%;
    height: 60%;
    display: flex;
    padding: 0 4vw;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}
#nav2>section{
    width: 150px;
    height: 65%;
}
#nav2>section>i{
    display: none;
}
#nav2>section>a{
    display: none;
}
#nav2>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: none;
}
#nav2>div:nth-child(4){
display: flex;
/* background-color: aqua; */
gap: 1.1vw;
}
#nav2>div>a{
text-decoration: none;
color: rgb(86, 82, 82);
}
#nav2>div:nth-child(4)>a>div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#nav2>div:nth-child(4)>a>div>i{
    font-size: 1.3vw;
    margin-bottom: 0.3vw;
    color: rgb(86, 82, 82);
}
#nav2>div:nth-child(4)>a>div>h6{
    font-size: 0.8vw;
    font-weight: 500;
    letter-spacing: 0.5px;
}
#nav2>form>input{
width: 22vw;
height: 40px;
padding-left: 1.5vw;
border-radius: 10px;
border: none;
border: 1px solid rgb(204, 204, 204);
}
#nav2>form{
    display: flex;
    gap: 0.2vw;
    margin-right: 10vw;
}
#nav2>form>button{
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: none;
    font-size: 1.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    background-color: darkslategray;
    color: white;
    
    /* border: 1px solid ; */
}
#nav2>div:nth-child(2){
    display: flex;
    gap: 1.5vw;
    /* margin-right: 10vw; */
    /* background-color: aqua; */
}
#nav2>div:nth-child(2)>a{
    font-size: 1.1vw;
}
#part1{
    width: 100%;
    height: 87vh;
   /* background-color: rgb(0, 0, 0); */
}
#part1top{
    width: 100%;
    height: 7%;
    background-color: darkslategray;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 3vw;
    justify-content: space-around;
}
#part1top>a{
    color: white;
    text-decoration: none;
    /* font-weight: 500; */
    font-size: 1vw;
}
#part1btm>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#part1btm{
    width: 100%;
    height: 93%;
}
#part2{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
#part2inr{
    width: 93%;
    height: 85%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
#part2inr>h1{
    font-weight: 600;
   
    font-size: 2vw;
}
#part2inr>h1>span{
    font-weight:500;
    /* opacity: 1; */
    opacity: 0.7;
    color: black;
}
#part2btm{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}
#part2box{
    width: 17vw;
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
}
#part2box>div:nth-child(1){
    width: 100%;
    height: 85%;
    /* background-color: yellow; */
}
#part2box>div>img{
    width: 100%;
    height: 100%;
}
#part2box>div:nth-child(2){
display: flex;
/* background-color: black; */
flex-direction: column;
align-items: center;
}
#part2box>div>h2{
    font-size: 1.2vw;
    font-weight: 500;
    opacity: 0.9;
    margin-bottom: 0.3vw;
}
#part2box>div>p{
    opacity: 0.5;
    font-size: 1vw;
    /* width: 80%; */
    text-align: center;
}
#part3{
    width: 100%;
    height: 190vh;
    background-color: rgb(255, 255, 255);
}
#part3top{
    width: 100%;
    height: 10%;
    display: flex;
    /* background-color: aqua; */
    flex-direction: column;
    justify-content: center;
    gap: 0.5vw;
    align-items: center;
}
#part3top>h1{
    font-size: 1.8vw;
    font-weight: 500;
}
#part3top>p{
    opacity: 0.5;
}
#part3top>div{
    display: flex;
    gap: 1vw;
    margin-top: 2vw;
}
#part3top>div>button{
    width: fit-content;
    height: 40px;
    border-radius: 5px;
    color: white;
    background: none;
    color: rgb(49, 49, 72);
    border: none;
    font-weight:600;
    letter-spacing: 0.4px;
    padding: 0 1vw;
    border: 1px solid grey;
}
#part3top>div>button:nth-child(1){
color: white;
background-color: rgb(49, 49, 72);
}
#part3btm{
     padding-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
   
    height: 90%;
    display: flex;
    flex-direction: column;
    
}
#part3btm>h1{
    font-size: 1.5vw;
    font-weight: 500;
}
.part3btm{
    margin-top: 2vw;
    margin-bottom: 1vw;
   
    height: fit-content;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;  
}
#part3btmboxes{
    
    width: 16vw;
    height: 47vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#part3boximg{
    width: 100%;
    height: 88%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
#part3boximg>img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}
#part3boximg>div:nth-child(4){
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 120px;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: rgb(22, 196, 138);
}
#part3btmboxes>h2{
    font-size: 1vw;
    font-weight: 500;
    opacity: 0.7;
}
#imgcircle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 12%;
    left: 5%;
}
#imgcircle>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#arrow{
    width: 35px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 15%;

}
#arrow>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;  
}
#part4{
    width: 100%;
     padding-top: 3vw;
     padding-bottom: 5vw;
    height: fit-content;
    background-color: rgb(255, 255, 255);
}
#part4>h1{
    margin-left: 5vw;
    font-size: 1.5vw;
    font-weight: 500; 
}
#part4btm{
    margin-top: 3vw;
    width: 82%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: aqua; */
    /* align-items: center; */
    /* justify-content: center; */
    gap: 40px 80px;
    margin-left: auto;
    margin-right: auto;
}
#part4boxes{
    width: 16vw;
    height: 35vh;
    border-radius: 10px;
    background-color: whitesmoke;
    /* border: 1px solid grey; */
}
#part4boxtop{
    width: 100%;
    height: 50%;
    overflow: hidden;
}
#part4boxtop>img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    /* object-position: center; */
}
#part4boxbtm{
    width: 100%;
    height: 50%;
    padding-left: 1.5vw;
    padding-top: 0.5vw;
    display: flex;
    flex-direction: column;
    gap: 0.9vw;
}
#part4boxbtm>h3{
    font-weight: 500;
    opacity: 0.8;
}
#part4boxbtm>p{
    width: 90%;
    font-size: 1vw;
    opacity: 0.8;
}
#part4boxbtm>a{
    text-decoration: none;
    display: flex;
    color: black;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
}
#part5{
    width: 100%;
    height: 80vh;
    background-color: #22333B;
}
#footer1{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    padding:0 4vw;
    align-items: center;
    background-color: #3a515d;
    color: white;
    /* opacity: 0.1; */
}

#footer1one{
    display: flex;
    gap: 1vw;
}
#footer1one>i{
    font-size: 2.5vw;
    font-weight: lighter;
}
#footer1one>div>h3{
font-size: 1.2vw;
font-weight: 500;
margin-bottom: 1vw;
}
#footer1one>div>div{
    display: flex;
    gap: 1vw;
}
#footer1two{
    display: flex;
    gap: 1vw;
}
#footer1two>i{
    font-size: 2.5vw;
    font-weight: lighter;
}
#footer1two>div>h3{
font-size: 1.2vw;
font-weight: 500;
margin-bottom: 1vw;
}
#footer1two>div>div{
    display: flex;
    /* background-color: aqua; */
    gap: 0.2vw;
}
#footer1two>div>div>input{
    width: 15vw;
    height: 40px;
    background: none;
    border: none;
    border: 1px solid grey;
    padding-left: 1vw;
    background-color: white;
    border-radius: 10px;
}
#footer1two>div>div>button{
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: none;
    font-size: 1.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    background-color: rgba(255, 255, 220);
    /* background-color: darkslategray; */
    color: #22333B;
    /* color: white; */
}
#footer1three{
    display: flex;
    gap: 1vw;
}
#footer1three>div{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
#footer1three>div>h6{
font-weight: 500;
font-size: 1vw;
/* margin-bottom: 0.5vw; */
}
#footer1three>div>h5{
font-weight: 400;
font-size: 1vw;
}
#footer1three>img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
#footer2{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#22333B;
}
#footer2left{
    width: 25%;
    height: 70%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 2vw;
    color: white;
}
#footer2left>img{
    width: 150px;
    height: 45px;
    
}
#footer2left>p{
    width: 90%;
    font-size: 1.2vw;
}
#footer2left>div{
    display: flex;
    gap: 1vw;
}
#footer2left>div>i{
    font-size: 2vw;
}
#footer2right{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    /* background-color: aqua; */
    color: white;
}
#footer2right>h5{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2vw;
    letter-spacing: 1px;
}
#linkbox{
    width: 100%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* background-color: aliceblue; */
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 1vw;
}
#linkboxes{
    width: 25%;
    height: 80%;
    display: flex;
   color: white;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
}
#linkboxes>a{
    color: white;
    text-decoration: none;
}
#footer3{
    width: 90%;
    height: 10%;
    background-color: #22333B;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
}
#footer3>div{
    display: flex;
    gap: 1.5vw;
}
#footer3>h4{
    color: white;
    font-weight: 500;
    font-size: 1.1vw;
}
#footer3>div>h4{
    color: white;
    font-weight: 500;
    font-size: 1.1vw;
}

#part6{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    padding: 2vw 5vw;
    display: flex;
    flex-direction: column;
}
#part6>div{
    width: 100%;
    padding: 1vw 0vw;
}
#part6>div>h1{
    font-size: 1.2vw;
    font-weight: 500;
    color: grey;
    margin-bottom: 1vw;
}
#part6>div>p{
  font-size: 0.95vw;
  color: rgba(0, 0, 0, 0.453);
}